body{
	width: 0 auto;
	height: 0 auto; 
	margin: 0 auto;
	background: none;
	background-image: none;
}

.containerHome{
	width: 1100px;
	height: 0 auto;
	align-content: center;
	margin-top: 50px;
	margin: 0 auto;
}

.headSection{
	width: 1100px;
	height: 220px;
	margin: 0 auto;
	margin-top: 5px;
	box-shadow: 10px 10px 5px #888888;
}

.navSection{
	width: 1100px;
	height: 35px;
	background-color: #0066cc;
	margin: 0 auto;
	box-shadow: 10px 10px 5px #888888;
}

.welcomeTitle{
	float: left;
	padding-top: 6px;
	padding-left: 15px;
	color: white;
	background: transparent;
	font-size: 18px;
}

.logoutLink{
	float: right;
	padding-top: 5px;
	padding-right: 15px;
}

.logoutLink a{
	color: white;
	font-size: 18px;
}

.errorMsg{
	border: none;
	float: center;
	text-align: center;
	padding: 5px 14px;
	margin-top: 20px;
	font-size: 18px;
	background: #ff9999;
	color: red;
}

.tooltip{
	position: relative;
	display: inline-block;
	margin-left: 790px;
	padding-top: 7px;
	color: white;
	font-size: 18px;
	
}

.tooltip .tooltiptext{
	visibility: hidden;
	width: 400px;
	background-color: #00FF7F;
	color: black;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 100%;
	left: 1%;
	margin-left: -250px;
	opacity: 0;
	transition: opacity 1s;
	padding: 10px;
}

.tooltip:hover .tooltiptext{
	visibility: visible;
	opacity: 1;
}

.tooltip .tooltiptext::after{
	position: absolute;
	top: 100%;
	left: 50%
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: black transparent transparent transparent;
}

.leftSection{
	width: 200px;
	height: 0 auto;
	background: #1A8DA9;
	float: left;
	margin-top: 10px;
	box-shadow: 10px 10px 5px #888888;
}

.rightSection{
	width: 200px;
	height: 0 auto;
	background: #1A8DA9;
	float: right;
	margin-top: 10px;
	box-shadow: 10px 10px 5px #888888;
}

.contentSection{
	width: 660px;
	height: 0 auto;
	background-color: #bfbfbf;
	border: 1px solid white;
	float: left;
	margin-top: 10px;
	margin-left: 13px;
	padding: 5px;
	padding-bottom: 20px;
	box-shadow: 10px 10px 5px #888888;
}

.footSection{
	width: 1024px;
	height: 75px;
	background-color: #336633;
	margin-top: 439px;
}

